/* body {
    background-color: red;
} */

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    user-select: none;
}

body {
    margin: 0px;
    padding: 0px;

    overflow: hidden;

    background-color: black;
}

hr {
    margin: 0px;
    padding: 0px;
}


#grid-container {
    /* color: #1b5071; */
    user-select: none;

    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap; */

    /* padding: 0px 150px; */

    width: fit-content;
    height: fit-content;

    overflow: hidden;

    /* background-color: aqua; */
    padding: 1px;

    /* transition: all .1s; */
}

#grid-canvas {
    background-color: black;
    /* stroke-width: 1px; */
    
    /* fill: red;
    stroke: #252525; */
    
    /* width: 100vw;
    height: 100vh; */
}
#grid-canvas-cover {
    position: absolute;
    top: 0;
    left: 0;
}


.select-indicator {
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    background-color: #1DA1F250;
    outline: #1DA1F2 1px solid;
}


.nodeRow {
    display: flex;
}
.node {
    aspect-ratio: 1 / 1;
    /* width: 40px; */
    /* min-width: 40px;
    min-height: 40px; */

    outline: 1px solid black;
}




.toolbar {
    position: absolute;

    z-index: 100;
    /* top: 10px;
    left: 10px; */

    width: fit-content;
    height: fit-content;

    background-color: #202020;
    border-radius: 5px;

    outline: 1px solid #252525;
}
.toolbar .tb-item {
    cursor: pointer;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: #202020;
    /* border-bottom: 1px solid #252525; */
}

.toolbar .tb-item:first-of-type {
    border-radius: 5px 5px 0px 0px;
}
.toolbar .tb-item:last-of-type {
    border-radius: 0px 0px 5px 5px;
    /* border-bottom: none; */
}
.toolbar .tb-item:only-child {
    border-radius: 5px;
}

.toolbar .tb-item:hover {
    filter: brightness(1.2);
}

.toolbar .tb-item.selected {
    background-color: white;
    color: black;
}
.toolbar .tb-item.selected svg path {
    stroke: black;
    /* stroke-width: 1.5px; */
    /* filter: invert(0%) sepia(14%) saturate(21%) hue-rotate(344deg) brightness(108%) contrast(100%); */
}
.toolbar .tb-item.selected:hover {
    filter: brightness(1);
}

.toolbar .tb-item:hover .tbi-helper {
    transition-delay: 1.2s;
    /* visibility: visible; */
    opacity: 1;
}

.toolbar .tb-item .tbi-helper {
    pointer-events: none;

    /* visibility: visible; */
    opacity: 0;

    position: absolute;
    top: 50%;
    /* right: -20px;
    transform: translate(100%, -50%); */

    display: flex;
    align-items: center;

    width: fit-content;
    height: 30px;

    /* background-color: #FFF;
    color: black; */
    background-color: #202020;
    border: 1px solid #252525;

    color: #666666;
    font-size: 12px;
    font-weight: 500;

    border-radius: 3px;

    white-space: nowrap;

    padding: 0px 15px;

    /* transition: opacity  0s linear 1s; */
    /* transition: visibility 1s; */
    /* transition-delay: 1s; */
}
/* .toolbar .tb-item.selected .tbi-helper {
    background-color: white;
    color: black;
} */


.toolbar .tb-item .tbi-helper.right {
    right: -20px;
    /* transform: translateY(-50%), translateX(100%); */
    transform: translate(100%, -50%);
}
.toolbar .tb-item .tbi-helper.left {
    left: -20px;
    /* transform: translateY(-50%), translateX(100%); */
    transform: translate(-100%, -50%);
}

.toolbar hr {
    padding: 0px;
    margin: 0px;

    height: 1px;
    background-color: #252525;
    border: none;
}

.toolbar.side {
    display: flex;
}
.toolbar.side .tb-item:first-of-type {
    border-radius: 5px 0px 0px 5px;
}
.toolbar.side .tb-item:last-of-type {
    border-radius: 0px 5px 5px 0px;
    /* border-bottom: none; */
}

.toolbar.side hr {
    width: 1px;
    height: 60px;
    /* background-color: white; */
    /* border: none; */
    /* border-left: 1px solid white; */
}



#menu-container {
    display: none;

    z-index: 200;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    background-color: #00000050;
}
#menu-container.open {
    display: block;
}

#menu-container #menu-back {
    width: 100%;
    height: 100%;

    background-color: #00000050;
}

#menu {
    overflow-y: auto;

    float: right;

    width: 450px;
    height: 100%;

    background-color: #151515;
    /* border-left: 1px solid #252525; */
}
#menu::-webkit-scrollbar {
    width: 0px;
}
#menu .menu-item {
    overflow: hidden;

    cursor: pointer;

    display: grid;
    grid-template-columns: auto min-content;

    grid-template-rows: 90px auto;
    grid-template-areas:
    'name icons'
    'data data';

    align-items: center;
    /* justify-content: space-between;
    align-items: center; */

    width: 100%;
    height: 90px;
    /* max-height: 300px; */

    background-color: inherit;

    padding: 0px 40px;
    padding-bottom: 30px;
}

#menu .menu-item .mi-main {
    cursor: pointer;

    grid-area: name;

    color: #B0B0B0;
    font-size: 20px;

    float: left;
}

#menu .menu-item p {
    /* display: none; */
    
    grid-area: data;
    
    color: #666666;
    font-weight: 500;
    font-size: 15px;
}

#menu .menu-item .mi-icons {
    grid-area: icons;

    display: flex;
    justify-content: end;
}
#menu .menu-item .mi-icons svg {
    pointer-events: none;
    margin-right: 10px;
}
#menu .menu-item .mi-icons svg:last-of-type {
    margin: 0px;
}

#menu .menu-item .mi-icons.info {
    display: none;
    margin-right: -10px;
}
#menu .menu-item:hover .mi-icons.info div {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
    border-radius: 50%;

    padding: 10px;
}

#menu .menu-item .mi-icons.info:hover div {
    /* box-shadow: 0px 0px 0px 20px rgba(48,48,48,1); */
    background-color: #252525;
}


#menu .menu-item:hover {
    filter: brightness(1.2);
}
#menu .menu-item:hover .mi-icons.pointers {
    display: none;
}
#menu .menu-item:hover .mi-icons.info {
    display: flex;
}



#menu .menu-item.selected {
    background-color: white;
}
#menu .menu-item.selected label, #menu .menu-item.selected p {
    color: black;
}
#menu .menu-item.selected svg {
    filter: brightness(0) saturate(100%);
}
#menu .menu-item.selected:hover {
    filter: brightness(1);
}
#menu .menu-item.selected .mi-icons.info:hover div {
    /* box-shadow: 0px 0px 0px 20px rgba(48,48,48,1); */
    background-color: #eeeeee;
}

#menu .menu-item.open {
    /* grid-template-rows: 90px auto;
    grid-template-areas:
    'name icons'
    'data data'; */

    height: fit-content;

    /* padding-bottom: 30px; */
}
/* #menu .menu-item.open p {
    display: block;
} */



#menu hr {
    /* height: 1px; */
    border: none;
    border-top: 1px solid #202020;
    /* background-color: #202020; */
}



#menu-container.active {
    display: block;
}

