/* body {
    background-color: red;
} */



@import url('./setcomp.css');

@import './vars';


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

    user-select: none;
    outline: none;

    /* transition: all .1s; */
}

body {
    margin: 0px;
    padding: 0px;

    overflow: hidden;

    background-color: var(--color1);
}

hr {
    margin: 0px;
    padding: 0px;
}

.toolbar hr {
    display: none !important;
}


#grid-container {
    /* color: #1b5071; */
    user-select: none;

    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap; */

    /* padding: 0px 150px; */

    width: fit-content;
    height: fit-content;

    overflow: hidden;

    /* background-color: aqua; */
    padding: 1px;

    /* transition: all .1s; */
}

@keyframes startGrid {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

#grid-canvas {
    animation: .7s startGrid;
    background-color: var(--color1);
    /* stroke-width: 1px; */
    
    /* fill: red;
    stroke: var(--color3); */
    
    /* width: 100vw;
    height: 100vh; */
}

/* #grid-canvas.add {
    cursor: crosshair;
} */
#grid-canvas.hand {
    cursor: grab;
}
#grid-canvas.hand-grab {
    cursor: grabbing;
}
/* #grid-canvas.remove {
    cursor: not-allowed;
} */





.select-indicator {
    visibility: hidden;
    pointer-events: none;

    position: absolute;
    background-color: #1DA1F250;
    outline: #1DA1F2 1px solid;
}


.nodeRow {
    display: flex;
}
.node {
    aspect-ratio: 1 / 1;
    /* width: 40px; */
    /* min-width: 40px;
    min-height: 40px; */

    outline: 1px solid var(--color1);
}


@keyframes slideFromLeft {
    0% {
        left: -65px;
    }
    50% {
        left: -65px;
    }
    100% {
        left: 20px;
    }
}
@keyframes slideFromRight {
    0% {
        right: -65px;
    }
    50% {
        right: -65px;
    }
    100% {
        right: 20px;
    }
}
@keyframes slideFromBottom {
    0% {
        bottom: -65px;
    }
    50% {
        bottom: -65px;
    }
    100% {
        bottom: 20px;
    }
}

.toolbar {
    cursor: pointer;
    position: absolute;

    z-index: 100;
    /* top: 10px;
    left: 10px; */

    width: fit-content;
    height: fit-content;

    background-color: var(--color2);
    border-radius: 2px;

    outline: 1px solid var(--color2);
}

.toolbar.left {
    animation: .7s slideFromLeft;
    left: 20px;

    transition: left .3s;
}
.toolbar.right {
    animation: .7s slideFromRight;
    right: 20px;

    transition: right .3s;
}
.toolbar.bottom:not(#tb-run-control) {
    animation: .7s slideFromBottom;
    // bottom: 20px;

    // transition: bottom .3s;
}
.toolbar.bottom {
    bottom: 20px;
    transition: bottom .3s;
    // transition-delay: 0s;
}
.toolbar#tb-run-control {
    transition-delay: .3s;
}
.toolbar#tb-run-control.disabled {
    transition-delay: 0s;
}
.toolbar#tb-movement {
    transition-delay: .3s;
}
.toolbar#tb-movement.disabled {
    transition-delay: 0s;
}

.toolbar.left.disabled {
    left: -65px;    
}
.toolbar.right.disabled {
    right: -65px;    
}
.toolbar.bottom.disabled {
    bottom: -65px;
}


#run-tb.right.disabled {
    right: 20px;
}


.toolbar .tb-item {
    /* cursor: pointer; */

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: var(--color7);
    // background-color: var(--color2);

    /* border-bottom: 1px solid var(--color3); */
    transition: all .1s;
}
.toolbar .tb-item.hidden {
    display: none;
}

.toolbar .tb-item:first-of-type {
    border-radius: 2px 2px 0px 0px;
}
.toolbar .tb-item:last-of-type {
    border-radius: 0px 0px 2px 2px;
    /* border-bottom: none; */
}
.toolbar .tb-item:only-child {
    border-radius: 2px;
}

#tb-run .tb-item {
    border-radius: 2px;
}


.toolbar .tb-item:hover:not(.selected) {
    filter: brightness(var(--filter));
}

.toolbar .tb-item.selected {
    background-color: var(--color8);
    color: var(--color1);
}
.toolbar .tb-item.selected svg path {
    stroke: var(--color1);
    /* stroke-width: 1.5px; */
    /* filter: invert(0%) sepia(14%) saturate(21%) hue-rotate(344deg) brightness(108%) contrast(100%); */
}

.toolbar .tb-item svg path {
    stroke: var(--color4);
    /* stroke-width: 1.5px; */
    /* filter: invert(0%) sepia(14%) saturate(21%) hue-rotate(344deg) brightness(108%) contrast(100%); */
}

.toolbar .tb-item:hover .tbi-helper {
    transition-delay: 1.2s;
    /* visibility: visible; */
    opacity: 1;
}

.toolbar .tb-item .tbi-helper {
    pointer-events: none;

    /* visibility: visible; */
    opacity: 0;

    position: absolute;
    top: 50%;
    /* right: -20px;
    transform: translate(100%, -50%); */

    display: flex;
    align-items: center;

    width: fit-content;
    height: 30px;

    /* background-color: #FFF;
    color: var(--color1); */
    background-color: var(--color2);
    border: 1px solid var(--color3);

    color: var(--color5);
    font-size: 12px;
    font-weight: 500;

    border-radius: 2px;

    white-space: nowrap;

    padding: 0px 15px;

    transition: opacity .1s;

    /* transition: opacity  0s linear 1s; */
    /* transition: visibility 1s; */
    /* transition-delay: 1s; */
}
/* .toolbar .tb-item.selected .tbi-helper {
    background-color: var(--color8);
    color: var(--color1);
} */


.toolbar .tb-item .tbi-helper.right {
    right: -20px;
    /* transform: translateY(-50%), translateX(100%); */
    transform: translate(100%, -50%);
}
.toolbar .tb-item .tbi-helper.left {
    left: -20px;
    /* transform: translateY(-50%), translateX(100%); */
    transform: translate(-100%, -50%);
}
.toolbar .tb-item .tbi-helper.top {
    top: -20px;
    left: 50%;
    /* transform: translateY(-50%), translateX(100%); */
    transform: translate(-50%, -100%);
}

.toolbar hr {
    padding: 0px;
    margin: 0px;

    height: 1px;
    background-color: var(--color2);
    border: none;
}

.toolbar.side {
    display: flex;
}
.toolbar.side .tb-item:first-of-type {
    border-radius: 2px 0px 0px 2px;
}
.toolbar.side .tb-item:last-of-type {
    border-radius: 0px 2px 2px 0px;
    /* border-bottom: none; */
}

.toolbar.side hr {
    width: 1px;
    height: 60px;
    /* background-color: var(--color8); */
    /* border: none; */
    /* border-left: 1px solid var(--color8); */
}




#menu-container {
    /* display: none; */
    visibility: hidden;
    pointer-events: none;

    z-index: 200;

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    /* background-color: var(--color1)50; */
    background-color: transparent;

    transition: background-color .2s, visibility .2s;
    transition-delay: .2s;
}
#menu-container.open {
    /* display: block; */
    visibility: visible;
    pointer-events: all;

    background-color: rgba($color: #000000, $alpha: .4);

    transition-delay: 0s;

    /* transition-delay: .2s; */
    /* transition: visibility .2s;
    transition-delay: .2s; */
}

#menu-container #menu-back {
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: .5);
}

#menu {
    overflow-y: auto;

    position: absolute;
    top: 0px;
    right: -450px;
    /* float: right; */

    width: 450px;
    height: 100%;

    background-color: var(--color6);
    /* border-left: 1px solid var(--color3); */

    transition: right .2s;
}
#menu-container.open #menu {
    right: 0px;
}

#menu::-webkit-scrollbar {
    width: 0px;
}
#menu .menu-item {
    overflow: hidden;

    // cursor: pointer;


    display: grid;
    // grid-template-columns: auto min-content;
    grid-template-rows: 90px auto;

    // grid-template-areas:
    // 'name icons'
    // 'data data';
    grid-template-areas:
    'main'
    'data';

    align-items: center;
    /* justify-content: space-between;
    align-items: center; */

    width: 100%;
    height: 90px;
    /* max-height: 300px; */

    background-color: inherit;

    // padding: 0px 40px;
    padding-bottom: 30px;

    // border-bottom: 1px solid var(--color2);

    /* max-height: 90px;
    transition: max-height .5s; */

    /* transform: scaleY(.9);
    transition: transform .5s; */

    transition: height .3s, filter .1s, background-color .1s;
}

#menu .menu-item.hovered {
    // filter: brightness(var(--filter));
    background-color: #191919;
}

// #menu .menu-item.alg {
//     grid-template-columns: auto min-content;

//     grid-template-rows: 90px auto;
//     grid-template-areas:
//     'name icons'
//     'data data';
// }

#menu .menu-item.full {
    cursor: pointer;

    grid-template-columns: auto min-content;

    grid-template-areas:
    'name icons'
    'data data';

    padding: 0px 40px;
    padding-bottom: 30px;
}
#menu .menu-item.full .mi-main {
    grid-area: name;
}

#menu .menu-item .mi-main {
    cursor: pointer;

    pointer-events: none;
    // grid-area: name;

    color: #B0B0B0;
    font-size: 20px;

    float: left;
}

#menu .menu-item .mi-main-cont {
    cursor: pointer;

    grid-area: main;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 0px 40px;
}

#menu .menu-item p {
    /* display: none; */
    
    grid-area: data;
    
    color: var(--color5);
    font-weight: 500;
    font-size: 15px;

    margin: 0px;
    padding: 15px 0px;

    transition: color .1s;
}

#menu .menu-item .mi-icons {
    // pointer-events: none;
    grid-area: icons;

    display: flex;
    justify-content: end;
    
}
#menu .menu-item .mi-icons svg {
    pointer-events: none;
    margin-right: 10px;
}
#menu .menu-item .mi-icons svg:last-of-type {
    margin: 0px;
}

#menu .menu-item .mi-icons.info {
    display: none;
    margin-right: -10px;
}
#menu .menu-item .mi-icons.info div {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: red; */
    border-radius: 50%;

    width: 40px;
    height: 40px;
    // padding: 10px;

    padding-left: 1px;

    transition: background-color .1s;
}

#menu .menu-item .mi-icons.info:hover div {
    /* box-shadow: 0px 0px 0px 20px rgba(48,48,48,1); */
    background-color: var(--color3);
}


#menu .menu-item.full:hover {
    filter: brightness(var(--filter));
}
#menu .menu-item:hover .mi-icons.pointers {
    display: none;
}
#menu .menu-item:hover .mi-icons.info {
    display: flex;
}


#menu .menu-item.selected {
    background-color: var(--color8);
}
#menu .menu-item.selected label, #menu .menu-item.selected p {
    color: var(--color1);
}
#menu .menu-item.selected svg {
    filter: brightness(0) saturate(100%);
}
#menu .menu-item.selected:hover {
    filter: brightness(1);
}
#menu .menu-item.selected .mi-icons.info:hover div {
    /* box-shadow: 0px 0px 0px 20px rgba(48,48,48,1); */
    background-color: #eeeeee;
}

#menu .menu-item.open {

}
#menu .menu-item .mi-icons.arrow {
    pointer-events: none;
}
#menu .menu-item.open .mi-icons.arrow svg {
    transform: rotate(180deg);
}
#menu .menu-item .mi-icons.arrow svg {
    transition: transform .2s;
}


#menu hr {
    /* height: 1px; */
    // border: none;

    border: none;
    border-top: 1px solid var(--color2);

    height: 1px;
    // background-color: var(--color2);

    // display: none;

}


// #menu .menu-item {
//     grid-template-columns: auto min-content;

//     grid-template-rows: 90px auto;
//     grid-template-areas:
//     'name icons'
//     'data data';
// }

#menu .menu-item .mi-item-cont {
    grid-area: data;

    align-self: flex-start;
    // align-items: flex-start;

    width: 100%;
    height: fit-content;

    // background-color: #505050;

    padding: 15px 40px;
}

#menu .menu-item .mi-item-label {
    display: block;

    font-size: 16px;
    color: var(--color5);

    // margin-top: 30px;
    margin-bottom: 20px;
}
#menu .menu-item .mi-item-label:first-of-type {
    margin-top: 0px;
}

#menu .menu-item .mi-item {
    width: 100%;
    height: fit-content;

    margin-top: 35px;
}
#menu .menu-item .mi-item:first-of-type {
    margin-top: 0px;
}

#menu .menu-item .mi-item.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu .menu-item .mi-item.line label {
    margin: 0px;
}

#menu-container.active {
    display: block;
}

