
// $ui-color: #ff0800;
// $color1: #000;
// $color2: #202020;
// $color3: #252525;
// $color4: #8B8B8B;
// $color5: #666666;
// $color6: #151515;
// $color7: #1d1d1d;
// $color8: #fff;
// $filter: 1.2;

// :export {
//     uiColor: $ui-color;
//     color1: $color1;
//     color2: $color2;
//     color3: $color3;
//     color4: $color4;
//     color5: $color5;
//     color6: $color6;
//     color7: $color7;
//     color8: $color8;

// }


// $color1: white;
// $color2: #F0F0F0;
// $color3: #252525;
// $color4: #CCCCCC;
// $color5: #B0B0B0;
// $color6: #ececec;
// $color7: #F0F0F0;
// $color8: #000;
// $filter: .99999999;


:root {
    // --ui-color: #ff0800;
    --ui-color: #00FF00;
    --color1: #000;
    --color2: #202020;
    --color3: #252525;
    --color4: #8B8B8B;
    --color5: #666666;
    --color6: #151515;
    --color7: #1d1d1d;
    --color8: #fff;
    --filter: 1.2;
}